$secondary-black: #495244;
$secondary-black2: #303030;
$secondary-white: rgb(252, 252, 238);
$secondary-white2: #fffff4;
$secondary-white3: #fffff6;
$primary-flat: #82b56a;
$primary-gradient: linear-gradient(180deg, #8ec674 0%, #719c5d 100%);
$hover-buttont-color: #60894c;
$grey: #d6d6d6;
$incorrect: #ff4848;
$correct: #28d16c;
$body-line-height: 1.6;
$body-fontsize: 15px;
$lineheight: 24px;
$text-font-weight: 400;
$title-font-weight: 700;
$body-font: 'Montserrat', sans-serif;
$third-party-font: 'Open Sans', sans-serif;
$systemfont: -apple-system, blinkmacsystemfont, arial, sans-serif;
$animation-speed: 0.5s;
$block-shadow-main: 0 18px 65px rgba(62, 62, 62, 0.07),
  0 2.43391px 25.6132px rgba(62, 62, 62, 0.0317368);
$button-shadow-main: 0 4px 12px rgba(19, 19, 19, 0.15);
