.comments {
  display: grid;
  grid-template-columns: minmax(100px, 413px) minmax(200px, 856px);
  column-gap: 30px;
  position: relative;
  @include for-md-down {
    display: flex;
    flex-direction: column;
  }
  &-wrapper {
    position: relative;
  }
  &-swiper {
    box-shadow: 0 18px 65px rgba(62, 62, 62, 0.07),
      0 2.43391px 25.6132px rgba(62, 62, 62, 0.0317368);
    border-radius: 4px;
  }
  &__slider {
    position: relative;
    width: 100%;
  }
  &__card {
    min-height: 264px;
    background: $secondary-white2;
    padding: 34px 38px 39px 38px;
    border-radius: 4px;
    @include for-md-down {
      padding: 24px 16px 20px 16px;
    }
  }
  &__preview {
    position: relative;
    @include for-md-down {
      position: static;
      margin-bottom: 34px;
    }
    h2 {
      font-size: em(44);
      line-height: 53px;
      margin-bottom: 24px;
      @include for-md-down {
        font-size: em(26);
        text-align: center;
        margin-bottom: 34px;
        line-height: 31px;
      }
    }
    p {
      margin-bottom: 80px;
      @include for-md-down {
        margin-bottom: 0;
      }
    }
    .swiper-pagination {
      font-size: 20px;
      display: inline-block;
      width: auto;
      z-index: 0;
      @include for-md-down {
        bottom: -60px;
      }
      &-current {
        color: $primary-flat;
      }
    }
  }
  &__header {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
  }
  &__body {
    p {
      word-break: break-word;
    }
  }
  &__avatar {
    width: 58px;
    height: 58px;
    margin-right: 12px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    h5 {
      display: inline-block;
      margin-right: 12px;
      line-height: 25px;
      font-size: 18px;
      word-break: break-word;
    }
    time {
      color: $grey;
    }
  }

  &__btn {
    position: absolute;
    left: 50%;
    bottom: -81px;
    transform: translateX(-50%);
    @include for-md-down {
      bottom: -153px;
    }
  }

  // Swiper styles

  .swiper-container {
    background: $secondary-white2;
  }
  .my-swiper-scrollbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 414px;
    height: 1px !important;
    background: #d6d6d6;
    @include for-md-down {
      bottom: -62px;
      max-width: 100%;
    }
    .swiper-scrollbar-drag {
      background: #82b56a;
    }
  }
  .my-swiper-button-disabled {
    opacity: 0.5;
  }
  .my-swiper-navigation {
    position: absolute;
    right: 0;
    bottom: 12px;
    display: flex;
    @include for-md-down {
      bottom: -50px;
    }
  }
  .my-swiper-button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    outline: none;
    @include transition(all);
    &-next {
      background: url(/images/swipe-right.svg) no-repeat center;
      &:hover {
        background: url(/images/swipe-right-hover.svg) no-repeat center;
      }
      &.my-swiper-button-disabled {
        &:hover {
          background: url(/images/swipe-right.svg) no-repeat center;
        }
      }
    }
    &-prev {
      background: url(/images/swipe-left.svg) no-repeat center;
      margin-right: 19px;
      &:hover {
        background: url(/images/swipe-left-hover.svg) no-repeat center;
      }
      &.my-swiper-button-disabled {
        &:hover {
          background: url(/images/swipe-left.svg) no-repeat center;
        }
      }
    }
  }
}
