.index {
  h2 {
    font-size: em(44);
    @include for-md-down {
      text-align: center;
      font-size: em(24);
    }
  }

  // FIRST SCREEN SWIPER

  .index-swiper {
    position: relative;
    height: 94.5vh;
    margin-bottom: 180px;
    @media screen and (max-height: 600px) {
      height: 92vh;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }

    &__content-container {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      z-index: 1;
    }

    &__content-wrapper {
      width: 100%;
      max-width: 1300px;
      position: relative;
      margin: 0 auto;
      z-index: 2;
      @include for-e-lg-down {
        padding: 0 6px;
      }
    }

    &__title {
      font-size: em(54);
      color: #fcfcee;
      margin-bottom: 33px;
      @include for-md-down {
        font-size: em(32);
      }
    }

    &__btn {
      max-width: 250px;
      padding: 13px 54px;
      margin-bottom: 85px;
      @include for-md-down {
        margin: 0 auto;
        margin-bottom: 75px;
      }
    }

    &__counter {
      font-style: normal;
      font-weight: normal;
      font-size: 1.333em;
      line-height: 120%;
      color: #fcfcee;
      margin-bottom: 60px;
      @include for-md-down {
        margin-left: 10px;
      }
      &_current {
        color: #82b56a;
      }
    }

    .swiper-slide {
      position: relative;
    }

    .swiper-scrollbar {
      max-width: 1300px;
      bottom: 50px;
      top: auto;
      right: 50%;
      left: auto;
      height: 2px;
      background: rgba(254, 254, 254, 0.4);
      transform: translateX(50%);
      @include for-e-lg-down {
        max-width: 95%;
      }
      @include for-md-down {
        max-width: 80%;
      }
      .swiper-scrollbar-drag {
        background: #82b56a;
      }
    }
  }

  // SECTION ABOUT

  &__about {
    @include section-margin;
  }

  .index-section-about {
    &__right-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      div:last-of-type {
        max-height: 338px;
        align-self: center;
        @include for-md-down {
          display: none;
        }
      }
    }

    &__title {
      margin-bottom: 24px;
      @include for-md-down {
        margin-bottom: 35px;
      }
    }

    .image-frame-wrapper {
      @include for-md-down {
        align-self: center;
        margin-bottom: 35px;
      }
    }

    &__description {
      margin-bottom: 35px;
    }

    &__btn {
      max-width: 250px;
      padding: 13px 60px;
      @include for-md-down {
        align-self: center;
      }
    }
  }

  //SECTION SERVICES

  .index-services {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 30px;
    }

    &__list {
      margin-bottom: 34px;
    }

    &__btn {
      align-self: center;
    }
  }

  &-comments-slider {
    @include section-margin;
  }

  &__bullets {
    @include section-margin;
  }

  // CUSTOMER CARE

  &__comments {
    margin-bottom: 260px;
  }

  &__pic-wrapper {
    height: 954px;
    @include section-margin;
    @include for-md-down {
      height: 644px;
    }
  }

  .index-blog {
    position: relative;
    margin-bottom: 0;
    &__title {
      margin-bottom: 34px;
    }
    &__btn {
      position: absolute;
      bottom: -80px;
      right: 50%;
      transform: translateX(50%);
      z-index: 2;
    }
  }
  &__faq-section {
    @include section-margin;
    h2 {
      margin-bottom: 34px;
    }
  }
  &__form {
    padding-top: 260px;
    padding-bottom: 74px;
    margin-bottom: 0;
    background: url(/images/bg.svg) repeat center;
    h2 {
      margin-bottom: 34px;
    }
    @include for-md-down {
      padding-bottom: 110px;
    }
  }
}
