.interion-design {
  .page-header {
    @include section-margin;
  }
  .service-description-list {
    margin-bottom: 50px;
  }
  &__consultation {
    padding: 130px 0 140px;
    background: url(/images/bg.svg) repeat 0 0;
    background-size: fill;
    margin-bottom: 40px;
  }
}
